root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# Makefile recipes require hard tabs.
[Makefile]
indent_style = tab

[*.cs]
indent_style = tab

# File-scoped namespaces and modern language conventions.
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
dotnet_sort_system_directives_first = true
csharp_prefer_braces = true:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_code_quality.CA1822.api_surface = private, internal
dotnet_code_quality.CA1711.allowed_suffixes = Attribute
